# Ignore symlinks that bazel creates
/bazel-*

# Ignore the user specific bazelrc
.bazelrc.user

# Ignore node_modules
src/typescript/node_modules

# Ignore yarn error logs
yarn-error.log

# Ignore Scala metals
.metals
